.titel{
    text-align: center;
    color: white;
    margin-top: 10px;
}
body{
    background-color: #0A192F;
}
.undertittel{
    text-align: center;
    color: aqua;
    margin-top: 5px;
}
.postContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}