.buttons{
    display: flex;
    margin: 10px;
    height: 40px;
}

.default {
    background-color: blue;
    color: white;
}

.warning {
    background-color: orange;
    color: white;
}

.danger {
    background-color: red;
    color: white;
}

.success{
    background-color: green;
    color: white;
}

.info{
    background-color: aqua;
    color: white;
}